body {
  background-image: url("peopleatstation.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  color: white;

  text-align: center;
  font-size: 50px;
  font-weight: 100px;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}
#count {
  color: yellow;
  font-size: 50px;
  text-align: center;
}
#d1 {
  background-position: center;
  background-color: black;
  top: 50%;
  left: 80%;
  width: 30em;
  height: 30em;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(29, 243, 10);
  position: fixed;
  border-width: 10px;
}
#d2 {
  background-position: center;
  top: 50%;
  left: 20%;
  width: 30em;
  height: 30em;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(29, 243, 10);
  position: fixed;
  border-width: 10px;
  background-color: black;
}

#increment {
  background: red;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  color: white;
  width: 200px;

  margin-left: 40px;
}
#decrement {
  background: red;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: white;
  width: 200px;
}

#increment:hover {
  background-color: cadetblue;
}
#decrement:hover {
  background-color: cadetblue;
}
#save {
  background: red;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  width: 150px;
  color: white;

  font-weight: bold;
  text-transform: uppercase;
  margin-left: 50px;
}
#clear {
  background: red;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  width: 150px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 50px;
}
#save:hover {
  background-color: cadetblue;
}
#clear:hover {
  background-color: cadetblue;
}
#next {
  color: yellow;
  padding-left: 1200px;
}

#greetings {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 100px;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  padding: 0px;
  font-size: 20px;
}
#greet {
  font-size: 40px;
  text-align: center;
  color: white;
  padding: 0px;
  font-size: 20px;
}
