#div1 {
  color: red;
  background: green;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 400px;
  height: 60px;
  font-size: 25px;
  border-radius: 12px;
}

#div2 {
  color: rgb(165, 93, 93);
  background: green;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 400px;
  height: 60px;
  font-size: 25px;
  border-radius: 12px;
}
